<div class="customer-item">
  <div class="customer-card">
    <% if customer.image.attached? %>
      <img src="<%= url_for(customer.image) %>" alt="<%= customer.full_name %>" class="customer-image" />
    <% else %>
      <div class="customer-image">
        <p>No image available</p>
      </div>
    <% end %>
    
    <div class="customer-details">
      <p class="title"><%= customer.full_name %></p>
      <p>Phone: <%= customer.phone_number %></p>
      <p>Email: <%= customer.email || 'N/A' %></p>
      <p>Notes: <%= customer.notes || 'N/A' %></p>
    </div>
  </div>
</div>
